.home {
  position: relative;
  align-items: flex-start;
  background-image: url(../../assets/home-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 90px;
}

.home-img {
  /*position: absolute;*/
  /*width: 100%;*/
  /*top: 10%;*/
  /*left: 0;*/
  /*right: 0;*/
}

.got-logo {
  width: 100px;
  z-index: 2;
}

.partners-container {
  padding: 1rem 2.5rem;
}

.home-footer {
  background-image: url(../../assets/home-ft.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  min-height: 75vh;
  justify-content: flex-end;
  color: #2E2E2E;
}

.socials-list {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.socials-list a {
  width: 25%;
  cursor: pointer;
}

.socials-list img {
  width: 100%;
}

.scrollarrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.5rem;
  gap: 4px;
}

@media screen and (max-width: 768px) {
  .home {
    background-position: 0 100%;
  }

  .partners-container {
    padding: 1rem;
  }

  .home-footer {
    min-height: 20vh;
    background-size: 250%;
  }

  .socials-list {
    width: 40%;
  }
}
