.gallery-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.gallery-img-container {
  width: 49%;
  margin: 20px 0;
}

.gallery-img-container img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .gallery-img-container {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}
